<!--
<div class="tableConfig">
  <label for="rowCount">Rows: </label>
  <select id="rowCount" (change) = "onRowSizeChange( $event, $event.target.value)">
    <option *ngFor="let r of rowSizes" [value]="r">{{r}}</option>
  </select>
</div>
-->
<table class="dataTable" (click)="onContextMenuOff()" [ngClass]="theme">
  <thead>
  <tr class="header" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <th *ngIf="rowSelection" style="width: 5px">

    </th>
    <th *ngFor="let item of columnDefs ; let i = index" cdkDrag [ngStyle]="{'width':item.width}" [ngClass]="dragTheme">
      <i (click)="sortColumn(i)" class="fa fa-sort" *ngIf="item.sortState == null && item.sort"
         aria-hidden="true"> </i>
      <i (click)="sortColumn(i)" class="fa fa-sort-asc" *ngIf="item.sortState && item.sort" aria-hidden="true"> </i>
      <i (click)="sortColumn(i)" class="fa fa-sort-desc"
         *ngIf="!item.sortState && !(item.sortState == null) && item.sort" aria-hidden="true"> </i>
      {{item.headerName}}
    </th>
  </tr>
  <tr class="filter">
    <th style="width: 5px" *ngIf="rowSelection">
      <label class="container">
        <input type="checkbox" (change)="checkedRowSelection($event);" [(ngModel)]="selectAllRows"/>
        <span class="checkmark"></span>
      </label>
    </th>
    <th *ngFor="let item of columnDefs; let i = index" [ngStyle]="{'width':item.width}">
      <input *ngIf="item.filter" [disabled]="item.columnFilter" (keyup)="filter(i,$event.target.value)" type="text"
             height="10"/>
        <span>
        <i class="fa fa-filter" *ngIf="item.filter && item.columnFilter" aria-hidden="true"
           (click)="toggleFilter(i, $event)">
        </i>
        <app-column-filter (clickOutside)="item.showFilter=false" [exclude]="'.fa-filter'"
                           [FilterValues]="columnDefs[i].uniqueFilterValues" [Column]="i"
                           class="filterDropdown"
                           (OnFilterChange)="checkedColumnFilter($event)" *ngIf="item.filter && item.columnFilter"
                           [hidden]="!item.showFilter" [theme]="theme" [ngStyle]="{'left.px': filterMenuX}">
        </app-column-filter>
        </span>

    </th>
  </tr>
  </thead>
  <tbody (click)="onContextMenuOff()" tabindex="0" ctrlKeys
         (ctrlC)="onCtrlC($event)"
         (ctrlV)="onCtrlV($event)">
  <tr *ngFor="let row of PagedRows; let rowCount = index" [hidden]="row.filteredOut" [@enterAnimation]>
    <td style="width: 5px" oncontextmenu="return false;" *ngIf="rowSelection" class="checkBoxRow">
      <label class="container">
        <input type="checkbox" (change)="checkedRowSelection($event, rowCount)" [(ngModel)]="row.rowSelect"/>
        <span class="checkmark"></span>
      </label>
    </td>
    <td ctrlkeys *ngFor="let cell of row.data; let columnCount = index"
        (click)="onClick(rowCount, columnCount, cell, $event)"
        (mousedown)="onDragStart($event)"
        (mouseover)="onSelecting(rowCount, columnCount, cell, $event)"
        (mouseup)="onDragEnd($event)"
        [ngStyle]="{'width':columnDefs[columnCount].width}"
        oncontextmenu="return false;">
      <app-inline-edit
        [theme]="theme"
        [isSelected]="contextMenuData && contextMenuData[rowCount] && !!contextMenuData[rowCount][columnCount]"
        [renderer]="row.cellRender"
        (rightClicked)="showContextMenu($event)"
        (changed)="valueChanged($event)"
        [isEditable]="columnDefs[columnCount].isEdit"
        [columnDefs]="columnDefs" [row]="rowCount"
        [column]="columnCount" [cellValue]="cell"
        [cellData]="columnDefs[columnCount].uniqueFilterValues">

      </app-inline-edit>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="FilterRowCount === 0">
  <tr>
    <td [attr.colspan]="columnDefs.length" style="text-align: center">
      No Data
    </td>
  </tr>
  </tbody>

  <tfoot *ngIf="pagination">
  <tr>

    <td [attr.colspan]="columnDefs.length+1">
      <span class="rowCount">
        <label for="rowCount">Rows: </label>
        <select id="rowCount" (change)="onRowSizeChange( $event, $event.target.value)">
          <option *ngFor="let r of rowSizes" [value]="r">{{r}}</option>
        </select>
      </span>
      <span class="pagination-row">
        <span>{{FromRecord}}</span>
          to
        <span>{{ToRecord}}</span> of <span>{{TotalRows}}</span>
      </span>
      <span class="pagination-page-summary">
        <button type="button" class="pagination btFirst" [disabled]="CurrentPage === 1" (click)="firstPage()">
          <i class="fa fa-angle-double-left"></i>
        </button>
       <button type="button" class="pagination btPrevious" [disabled]="CurrentPage === 1" (click)="previousPage()">
         <i class="fa fa-angle-left"></i>
       </button>Page <span>{{CurrentPage}}</span> of
        <span ref="lbTotal">{{TotalPages}}</span>
        <button type="button" class="pagination btNext" ref="btNext" [disabled]="CurrentPage === TotalPages"
                (click)="nextPage()">
          <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" class="pagination btLast" ref="btLast" [disabled]="CurrentPage === TotalPages"
                (click)="lastPage()">
          <i class="fa fa-angle-double-right"></i>
        </button>
      </span>
    </td>
  </tr>
  </tfoot>
</table>
<div *ngIf="contextmenu" (click)="onContextMenuOff()">
  <app-context-menu [x]="contextmenuX" [y]="contextmenuY" [isEdit]="contextMenuIsEdit" [theme]="theme"
                    [contextData]="contextMenuData"
                    [rowData]="rowData"
                    [columnData]="columnDefs"></app-context-menu>
</div>

