.metrial-theme {
  .cell {
    border: 1px solid transparent;
    padding-left: 12px;
    padding-right: 12px;
    input[type=text] {
      height: 38px;
    }
  }
  .cell.highlight{
    background-color: #fce4ec !important
  }
  .cell.cell-highlight-animation{
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }
  .cell.selected-row {
    border: 1px solid #3f51b5;
  }

  .cell:hover, .cell:focus {
    outline: initial;
  }
}

.light-theme {
  .cell {
    border: 1px solid transparent;
    padding-left: 12px;
    padding-right: 12px;
    input[type=text] {
      height: 19px;
    }
  }

  .cell.highlight{
    background-color: #0091EA !important
  }

  .cell.cell-highlight-animation{
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }
  .cell.selected-row {
    background-color: rgba(0, 145, 234, 0.3);
  }

  .cell:hover, div.cell:focus {
    border: 1px solid #0091EA;
    outline: initial;
  }
}

.dark-theme {
  .cell {
    border: 1px solid transparent;
    padding-left: 12px;
    padding-right: 12px;
    input[type=text] {
      line-height: 19px;
      background-color: #262c2e;
      color: #F5F5F5;
      border: 1px solid #fff;
      &:disabled{
        border: 1px solid #5c5c5c;
      }
    }
    select{
      line-height: 19px!important;
      background-color: #262c2e;
      color: #F5F5F5;
    }
  }
  .cell.highlight{
    background-color: #00B0FF !important
  }
  .cell.cell-highlight-animation{
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }

  .cell.selected-row {
    background-color: rgba(0, 145, 234, 0.3);
  }

  .cell:hover, .cell:focus {
    border: 1px solid #0091EA;
    outline: initial;
  }

}

.editConatiner{
  .cell {
    input[type=text] {
      width: 100%;
    }

     select {
      margin: 0;
      font: inherit;
      outline:none; /* remove focus ring from Webkit */
    }
  }
}
.editConatiner:focus {
  outline: none;
}


