<div class="editConatiner" [ngClass]="theme" tabindex="0">
  <div [hidden]="isEditable" class="cell cell-highlight-animation"
       [ngClass]="{'selected-row':isSelected, 'metrial-theme':theme==='metrial-theme', 'highlight':isCoping}" >
    <div (contextmenu)="onRightClick($event)">
      <span [innerHTML]="renderer(row, column, cellValue, columnDefs)"></span>
    </div>
  </div>
  <div (dblclick)="onDoubleClick()" [hidden]="!isEditable" class="cell cell-highlight-animation" [ngClass]="{'selected-row':isSelected, 'highlight':isCoping}">
    <div (contextmenu)="onRightClick($event)">
      <span [hidden]="isEdit">{{cellValue}}</span>
    <span [hidden]="!isEdit" (focusout)="onFocusOut()" #name>
  <select *ngIf="isCombobox" (focusout)="onFocusOut()" (change)="onChange($event.target.value)">
    <option *ngFor="let item of cellData; let i = index" [value]="item.data[0]"
            [selected]="cellValue === item.data[0]">{{item.data[0]}}
    </option>
  </select>
  <input #name *ngIf="!isCombobox" type="text" [value]="cellValue" (focusout)="onFocusOut()"
         (change)="onChange($event.target.value)"/>
</span>
    </div>
  </div>
</div>
