::ng-deep {

  .sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 40px;
    position: static;

    .menu-link {
      &:hover {
        .toggle-link {
          display: inline;
        }
      }
    }

    .toggle-link {
      display: none;
      padding-left: 10px;

      input {
        border-radius: 20px;
        height: 30px;
        background: #424242;
        color: white;
        padding: 0 10px;

        &::placeholder {
          color: white;
          font-size: 14px;
        }
      }

      .form-group {
        margin-bottom: 3px;
      }
    }

    .mat-list-item {
      font-size: 14px;
    }
  }

  .sidenav-expanded {
    .sidenav {
      position: static;
      .toggle-link {
        display: inline;

        &.toggle-link-closed {
          display: none;
        }

        &.toggle-link-expanded {
          display: inline;
        }
      }
      .mat-nav-list {
        padding-top: 0;
      }
    }
    &.sidenav-menu-expanded {
      .mat-nav-list {
        background: none;
      }
    }
    .mat-nav-list {
      top: 38.6%;
      min-width: 200px;
      position: absolute;
      z-index: 2;
      background: #424242;
    }
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .right-side-menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    font-size: 14px;

    a {
      padding: 0 15px;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }

    .img-radius {
      width: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .mat-badge-medium .mat-badge-content {
      width: 15px;
      height: 15px;
      line-height: 15px;
    }
  }

  .dashboard-logo {
    width: 120px;
    margin-right: 30px;
  }

  .mega-menu-link {
    margin: 0 30px;
    font-size: 14px;
    color: white;
    position: relative;
    text-decoration: none;
    padding-top: 5px;
    &.search-link {
      margin-left: 0;
    }
    &:hover, &:focus {
      text-decoration: none;
      color: white;
    }
  }

  .toggle-mega-menu {

  }

  .mega-menu {
    z-index: 2;
    position: absolute;
    left: 8.5%;
    top: 40px;
    max-width: 650px;
    visibility: hidden;
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
    border: none;

    &.opened {
      visibility: visible;
    }

    .anchor {
      color: #231e1e;
      text-decoration: none;
      cursor: pointer;
    }

    .prime-app-img {
      a {
        color: #231e1e !important;
      }

      .black {
        display: inline;
        height: 30px;
        width: 30px;
      }

      .light {
        display: none;
      }

      &:hover {
        a {
          color: #ffffff !important;
        }
        .black {
          display: none;
        }

        .light {
          color: #231e1e !important;
          display: inline;
          height: 30px;
          width: 30px;
        }
      }
    }

    .text-content {
      padding: 20px;
      background: linear-gradient(to right, #67b7dc, #231e1e);
      color: white;
    }
    .icon-content {
      padding-top: 5%;
      color: #231e1e;

      &.dark {
        background-color: #4f4f4f;
      }
      .col-lg-4 {
        font-size: 30px;
        text-align: center;
        .app-name {
          font-size: 12px;
          padding-bottom: 10px;
        }

        &:hover {
          background-color: #231e1e;
          color: white;
        }
      }
      .icons-heading {
        font-size: 12px;
        padding-top: 20px;
      }
    }
  }

  .app-dark-theme .mat-list-option:hover,
  .app-dark-theme .mat-list-option:focus,
  .app-dark-theme .mat-nav-list .mat-list-item:hover,
  .app-dark-theme .mat-nav-list .mat-list-item:focus {
    background: #2e2e2e;
    // border: 1px solid #8a8a8a;
    box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
  }

  .app-dark-theme {
    .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
      padding: 0 10px;
    }

    .mat-drawer-inner-container {
      overflow: hidden;
    }

    .mat-drawer-content {
      position: static;
    }

    .mat-toolbar {
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 2;
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
      height: 40px;
    }

    .mat-toolbar-single-row {
      height: 40px;
    }

    .app-container {
      margin-top: 60px;
    }

    .mat-drawer-inner-container {
      display: flex;
      align-items: center;
    }
  }

  .app-dark-theme .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #67b7dc;
  }

  .app-dark-theme .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(103, 183, 220, 0.9);
  }

  .mat-menu-panel {
    background: #626262;
    color: white;
  }

  .mat-menu-item {
    border-bottom: 1px solid #c1c1c1 !important;

    &:last-child {
      border: none !important;
    }
  }

  .notification-number {
    color: #5fec5f;
    padding: 0 3px;
    font-weight: bold;
  }

  .mat-menu-panel {
    max-width: none !important;
  }

  .app-dark-theme .mat-drawer-container {
    background: #424242 !important;
  }

  .notification {
    position: relative;
    padding-right: 20px;

    .close-notification {
      position: absolute;
      right: 0;
      top: 18px;
      color: #ffd507;
    }

    .notification-link {
      color: #ffd507;
      cursor: pointer;
    }
  }

  .user-menus {
    .mat-menu-content {
      min-width: 250px !important;

      i {
        padding-right: 15px;
      }
    }
  }

  .dashboard-side-nav {
    color: white;
    position: absolute;
    background: #424242;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 2;
    font-size: 14px;

    a {
      color: white !important;
    }
    .menu-link-list {
      position: relative;
      padding: 10px;
      &:hover {
        background: #373737;
        box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
        .toggle-link {
          display: inline;
          background: #373737;
          box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
        }
      }
      &.active {
        background: #373737;
        box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
        .toggle-link {
          display: inline;
          background: #373737;
          box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
        }
      }

      .menu-link {
        &:hover {
          text-decoration: none;
          background: #373737;
          box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .toggle-link-span {
      padding-left: 21px !important;
      text-decoration: none;
    }
    .toggle-link-form {
      padding-top: 6px !important;
      padding-right: 10px;

      .form-group {
        position: relative;
      }
      .search-icon {
        position: absolute;
        right: 10px;
        top: 8px;
        cursor: pointer;
      }
    }
    .toggle-link {
      display: none;
      position: absolute;
      width: 200px;
      padding-left: 10px;
      height: 100%;
      top: 0;
      padding-top: 10px;

      input {
        border-radius: 20px;
        height: 27px;
        background: #424242;
        color: white;
        padding: 0 10px;
        &::placeholder {
          color: white;
          font-size: 14px;
        }
      }

      .form-group {
        margin-bottom: 3px;
      }
    }

    .submenu {
      .submenu-link {
        /*i{
          float: right;
          padding: 5px;
        }*/

        .toggle-link {
          padding-left: 0;
          width: 190px;
        }
      }
      .submenu-list {
        list-style: none;
        padding-left: 0;
        margin-top: 30px;
        background: #424242;
        display: block;
        width: 190px;
        .menu-link-list {
          padding-left: 20px;
          cursor: pointer;
        }
      }
      /*&:hover {
        .submenu-list {
          display: block;
        }
      }*/
    }
  }

  .sidenav-expanded {
    .toggle-link {
      display: inline;
      background: #424242;
      box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
    }
    .menu-link-list {
      background: #424242;
      box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
    }

    .submenu-list {
      .menu-link-list {
        background: none;
        box-shadow: none;
        &:hover {
          background: #373737;
        }
      }
    }
    .menu-link {
      text-decoration: none;
      background: #424242;
      box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
    }
  }

  .app-dark-theme {
    .mat-toolbar {
      z-index: 3 !important;
    }
  }

  .clear-all {
    color: #ffd507;
    background: none;
    border: 2px solid #ffd507;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    align-items: center;
    float: right;
    margin-top: 2%;
  }

  .search-container {
    position: absolute;
    z-index: 3;
    background: #4f4f4f;
    margin-top: 40px;
    padding-top: 40px;
    left: 13.5%;
    overflow: hidden;
    box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);

    .input-container {
      position: relative;
      margin-bottom: 0;
      .dropdown-menu {
        padding-top: 0;
        width: 100%;
        background: #4f4f4f;
        color: white;
        border: none;

        .dropdown-item {
          color: white;
          padding: 10px;

          &.active {
            background: #424242;
            box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
          }
        }
      }
      input {
        border-radius: 20px;
        height: 40px;
        background: #424242;
        color: white;
        padding: 0 10px;
        &::placeholder {
          color: white;
          font-size: 14px;
        }
      }
      .search-icon {
        position: absolute;
        right: 10px;
        top: 12px;
        cursor: pointer;
      }
    }
    .submenu-list {
      list-style: none;
      display: block;
      padding: 0 3px;

      .menu-link-list {
        padding: 10px;
        border-bottom: 1px solid #5b5858;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background: #424242;
          box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
