.light-theme.filterPanel {
  background: whitesmoke;
  border: 1px solid #BDC3C7;
  .container{
    input[type=checkbox]:checked ~ .checkmark {
      background-color: #2196F3;
    }
    .checkmark{
      background-color: #eee;
    }
  }
}
.dark-theme.filterPanel {
  background-color: #2d3436;
  color: #F5F5F5;
  border: 1px solid #424242;
  .container{
    input[type=checkbox]:checked ~ .checkmark {
      background-color: #2196F3;
    }
    .checkmark{
      background-color: #eee;
    }
  }
}

.metrial-theme.filterPanel {
  background: whitesmoke;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  .container{
    input[type=checkbox]:checked ~ .checkmark {
      background-color: #fe5991;
      border: 1px solid #fe5991;
    }
    .checkmark{
      background-color: #fff;
      border: 1px solid black;
    }
  }
}
div.filterPanel {
  padding: 10px;
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 19px;
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    input[type=checkbox]:checked ~ .checkmark:after {
      display: block;
    }
    .checkmark:after {
      left: 6px;
      top: 3px;
      width: 3px;
      height: 6px;
      border: solid white;

      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
    }

  }
  .container:hover{
    input ~ .checkmark {
      background-color: inherit;
    }
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

}

