.page-container{
  margin: 0 60px;
}
.theme-links{
  display: inline-block;
  margin: 15px 0;
  float: right;
  a{
    display: inline-block;
    margin-left: 20px;
    color: white;
    padding: 15px;
    background: #424242;
    border: 1px solid #BDC3C7;
    text-decoration: none;
  }
}
