.theme-links{
  display: inline-block;
  margin-bottom: 15px;
  a{
    padding-right: 20px;
    color: #0091EA;
  }
}
.app-container {
  margin: 0 20px 0 60px;
  .col-lg-4, .heading-container{
    margin-top: 10px;
  }

  .dashboard-heading {
    display: inline;
  }


}

.date-range {
  display: inline;
  max-width: 14%;
  margin-left: 20px;
  color: white;
  background: #4f4f4f;

  &:focus{
    background: #4f4f4f;
    color: white;
  }
}

.calendar-table{
  background: #565555 !important;
  border: none !important;
}

.md-drppicker td.off, .md-drppicker td.off.end-date, .md-drppicker td.off.in-range, .md-drppicker td.off.start-date {
  background-color: #ffffff3d !important;
  border-color: transparent;
  color: #d4d4d4;
}

.md-drppicker td.available:hover, .md-drppicker th.available:hover {
  background-color: #eeeeee85 !important;
}

.md-drppicker.shown.drops-down-right{
  background: #565555 !important;
}

.md-drppicker .ranges ul li button{
  color: white;

  &:hover, &:focus{
    background: #3f51b5;
  }
}

.md-drppicker th {
  color: #f1f1f1 !important;
}

.float-on-dashboard{
  width: 45px !important;
  height: 45px !important;
  color: white !important;
  font-size: 24px;
  position: fixed !important;
  z-index: 3;
  right: 40px;
  top: 45px;
  background: #67b7dc !important;

  span{
    padding: 0 0 8px 2px !important;
  }
}
