html, body{
  height: 100%;
  margin: 0;
}

.sidenav-container{
  height: 100%;
}


/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "styles/themes";
@import '~bootstrap/scss/bootstrap';
